* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background-color: #f3f5f7;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.header {
    height: 41px;
    margin: 30px auto;
}

.logo {
    float: left;
    width: 195px;
    height: 41px;
}

.nav {
    float: left;
    margin-left: 60px;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

.nav ul li a {
    display: block;
    height: 41px;
    padding: 0 10px;
    line-height: 41px;
    font-size: 18px;
    color: #050505;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

/* 搜索 */
.search {
    background-color: #00a4ff;
    float: left;
    width: 411px;
    height: 42px;
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    /* 去除右边框 */
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    /* 搜索框内缩进 也可以使用text-index:2em 或者15px方式 就不会影响盒子的大小 */
    padding-left: 15px;
}

.search button {
    background-color: skyblue;
    float: left;
    width: 50px;
    height: 42px;
    /* 去除按钮自带的边框 */
    border: 0;
    background: url(images/btn.png);
}

/* 用户 */
.user {
    float: right;
    height: 41px;
    line-height: 41px;
    margin-right: 30px;
    font-size: 14px 'Microsoft YAHEI';
    color: #666;
}

.user img {
    /* 参考自弹幕实现头像垂直居中 */
    vertical-align: middle;
}

/* banner区域 */
.banner {
    height: 420px;
    background-color: #1c036c;
}

.banner .w {
    height: 420px;
    background: url(images/banner2.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 420px;
    background-color: rgba(0, 0, 0, 0.3);
}

.subnav ul li {
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}

.subnav ul li a {

    font: 14px;
    color: #fff;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: #00a4ff;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    /* 浮动和盒子不会出现垂直外边距塌陷 */
    margin-top: 50px;
    background-color: #fff;
}

.course h2 {
    color: #fff;
    height: 48px;
    line-height: 48px;
    font-size: 18px;
    text-align: center;
    background-color: #9bceea;
}

.bd {
    padding: 0 20px;
}

.bd ul li {
    padding: 14px 0;
    border-bottom: 1px solid #efefef;
}

.bd ul h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul p {
    font-size: 12px;
    color: #a5a5a5;
}

.bd .more {
    display: block;
    height: 38px;
    border: 1px solid #00a4ff;
    font-size: 16px;
    color: #00a4ff;
    text-align: center;
    line-height: 38px;
    font-weight: 700;
    margin-top: 5px;
}

.goods {
    background-color: #fff;
    margin-top: 8px;
    height: 60px;
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
    /* 行高会继承到三个孩子 */
    line-height: 60px;
}

.goods h3 {
    float: left;
    margin-left: 30px;
    font-size: 16px;
    color: #00a4ff;
}

.goods ul {
    float: left;
    margin-left: 30px;
}

.goods ul li {
    float: left;
}

.goods ul li a {
    padding: 0 30px;
    font-size: 16px;
    color: #050505;
    border-left: 1px solid #ccc;
}

.mod {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.box-hd {
    height: 45px;
}

.box-hd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box-hd>a {
    float: right;
    font-size: 12px;
    color: #a5a5a5;
    line-height: 45px;
    margin-right: 30px;
}

.box-bd ul {
    width: 1225px;
}

.box-bd ul li {
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-right: 15px;
    margin-bottom: 15px;
}

.box-bd ul li a img {
    width: 100%;
}

.box-bd ul li a h4 {
    font-size: 14px;
    color: #050505;
    font-weight: 400;
    margin: 20px;
}

.box-bd ul li a {
    display: block;
    width: 228px;
    height: 270px;
}

.box-bd ul li a:hover {
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.1);
}

.box-bd .info {
    font-size: 12px;
    color: #999999;
    margin: 0 20px;
}

.box-bd .info span {
    color: #ff7c2d;
}

.footer {
    height: 250px;
    background-color: #fff;
}

/* 在父盒子前后都添加盒子堵住里面的内容 */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
    /* 转换成表格 */
}

.clearfix:after {
    clear: both;
    /* 清除浮动 */
}

.clearfix {
    *zoom: 1;
    /* 照顾他妈的IE*/
}

.footer .w {
    padding-top: 30px;
}

.copyright {
    float: left;
    margin-left: 20px;
}

.copyright p {
    font-size: 12px;
    color: #666;
    margin: 25px 0 20px 0;
}
.copyright a {
    display: block;
    width: 120px;
    height: 35px;
    font-size: 16px;
    color: #00a4ff;
    border: 2px solid #00a4ff;
    text-align: center;
    line-height: 35px;
}

.links {
    float: right;
}
.links dl {
    float: left;
    margin-left: 100px;
}
.links dt {
    font-size: 16px;
    color: #333;
}
.links dd a {
    font-size: 12px;
    color: #333;
}